:root {
  --Main-hue-color: 211;
  --Main-Com-color: hsl(var(--Main-hue-color), 100%, 50%);
  --Header-Color: hsla(var(--Main-hue-color), 100%, 5%, 0.8);
  --Footer-Color: hsla(var(--Main-hue-color), 100%, 5%, 1);
  --BackApropos-Color: hsla(var(--Main-hue-color), 0%, 100%, 0.1);
  --BackAproposItem-Color: hsla(var(--Main-hue-color), 0%, 100%, 0.95);
  --Menu-color: hsla(var(--Main-hue-color), 60%, 80%, 0.4);
  --Menu-Hover-Item-color: hsla(var(--Main-hue-color), 60%, 80%, 1);
  --shadow-Color: hsla(var(--Main-hue-color), 0%, 0%, 0.1);

  --Dark-Text: hsl(var(--Main-hue-color), 0%, 0%);
  --Light-Text: hsl(var(--Main-hue-color), 0%, 100%);
  --Hover-Text: hsl(calc(var(--Main-hue-color) - 31), 100%, 50%);
  --shadow-Text-Color: hsla(var(--Main-hue-color), 0%, 0%, 0.2);

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .98rem;
  --small-font-size: .813rem;
  --smaller-font-size: .60rem;
  --interligne: 1.7;

  --font-bold: 800;
  --font-medium-bold: 600;
  --font-semi-bold: 400;

  --slidebar-width: 300px;
  --page-max-width: 1024px;
  --navbar-height: 4rem;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 1000;
  --z-back: 0;

  --background-color: #FBFBFB;
  --text-color: #0C0C1E;
}

[data-theme="dark"] {
  --background-color: #0C0C1E;
  --text-color: #FBFBFB;
  --Header-Color: hsla(var(--Main-hue-color), 100%, 15%, 0.8);
  --Footer-Color: hsla(var(--Main-hue-color), 100%, 15%, 1);
  --BackApropos-Color: hsla(var(--Main-hue-color), 0%, 20%, 0.1);
  --BackAproposItem-Color: hsla(var(--Main-hue-color), 0%, 20%, 0.95);
  --Menu-color: hsla(var(--Main-hue-color), 60%, 20%, 0.4);
  --Menu-Hover-Item-color: hsla(var(--Main-hue-color), 60%, 20%, 1);
  --shadow-Color: hsla(var(--Main-hue-color), 0%, 100%, 0.1);
}

[data-theme="light"] {
  --background-color: #FBFBFB;
  --text-color: #0C0C1E;
  --Header-Color: hsla(var(--Main-hue-color), 100%, 95%, 0.8);
  --Footer-Color: hsla(var(--Main-hue-color), 100%, 95%, 1);
  --BackApropos-Color: hsla(var(--Main-hue-color), 0%, 100%, 0.1);
  --BackAproposItem-Color: hsla(var(--Main-hue-color), 0%, 100%, 0.95);
  --Menu-color: hsla(var(--Main-hue-color), 60%, 80%, 0.4);
  --Menu-Hover-Item-color: hsla(var(--Main-hue-color), 60%, 80%, 1);
  --shadow-Color: hsla(var(--Main-hue-color), 0%, 0%, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

