/* layout.module.css */
.body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(0, 46, 87), rgb(165, 213, 255));
  background-size: cover;
}

.main {
  flex: 1;
}
