.container {
    position: relative;
    z-index: 1001;
}

.toggleButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1002;
    color: #000;
    transition: transform 0.3s ease-in-out;
}

.toggleButton:hover {
    transform: scale(1.1);
    color: #cacaca;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    background-color: #fff;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

.showNav {
    transform: translateX(0);
}

.navList {
    list-style: none;
    margin: 0;
    padding: 20px 10px;
    width: 100%;
}

.navItem {
    margin: 10px 0;
    width: 100%;
}

.navItem a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.navItem a:hover {
    background-color: #f0f0f0;
    color: #007BFF;
}

@media (min-width: 768px) {
    .nav {
        position: absolute;
        width: 100%;
        height: auto;
        transform: none;
        flex-direction: row;
        align-items: center;
        background-color: transparent;;
        box-shadow: none;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .toggleButton {
        display: none;
    }

    .navList {
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .navItem {
        margin: 0 1rem;
    }

    .navItem a {
        padding: 0;
        color: #fff;
        font-weight: 700;
        text-align: center;
    }

    .navItem a:hover {
        background-color: transparent;
        color: black;
    }
}
