.nav ul {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 2;
}

.nav a {
    color: #fff;
    font-weight: 700;
}