/* components/SearchBar.module.css */
.searchBar {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .searchBar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
  }
  
  .searchBar button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #333;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .searchBar button:hover {
    background-color: #555;
  }
  